body {
    color: #f86300;/*cor das letras (fonte)*/
    background-color: #000000; /*fundo da página*/
    font-family: Arial, sans-serif;
    display: flex;/* usa o modelo FlexBox, conceito de caixa para posicionamento */
    align-items: center;/*centraliza verticalmente  */
    justify-content: center;/*centralizar horizontalmente*/
    height: 100vh;/*vertical altura - 100% */
}
.card{
    background-color: rgb(0, 0, 0);/*cor da caixa*/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(252, 134, 0);
    text-align: center;
}
button{
    background: blue;
    color: white;
    border: none;
    padding: 10px 15px; /* vertical e horizontal*/
    border-radius: 5px; /*borda*/
    cursor: pointer;/*cursor do mouse */
}
button:hover{
    color: #ff6600;/*cor das letras (avançar) quando cursor passa em cima */
    background-color: #000000;/*cor da caixa (avançar) quando cursor passa em cima */
}
.image{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}