body {
    font-family: Arial, sans-serif;
    background-color: #000000;
/* usa modelo FlexBox, conceito de caixa para posicionamento */
color: #d66305;
    display: flex;
    align-items: center; /* centraliza verticalmente*/
    justify-content: center; /* centraliza horizontalmente */ 
    height: 100vh; /* define a altura da tela - 100% */
}
.card {
    background-color: rgb(54, 54, 54);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1 4px 8px rgba(226, 2, 2, 0.1);
    text-align: center;
}
button {
    background: #000000e0;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px; /* 10px é superior e inferior e 15px é esquerda e direita */
    border-radius: 5px; /* borda */
    cursor: pointer; /* ponteiro do mouse */
}
button:hover {
    background-color: #f16f04;
}

.image {
    border-radius: 50%; /* cantos arredondados de 50% */
    width: 100px; /* largura da imagem */
    height: 100px;/* altura da imagem */
    margin-bottom: 10px; /* espaçamento externo abaixo */
}
.sidebar {
    width: 200px;
    height: 100vh; 
    background: #4b4b4b;
    color: rgb(255, 182, 25);
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    /* 20px acima e abaixo e 0px à direita e esquerda */
    margin: 10px 0;
}
.sidebar ul li a{
    color: rgb(240, 159, 8);
    text-decoration: none;
    cursor: pointer;
}
.container {
    /* capacidade de um elemento crescer */
    flex-grow: 1; 
    padding: 20px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-itens: center;
}